// component icons (used on designer and toolbars), must be the same name as component class
TWSVGImageList             BITMAP    "..\Resources\Icons\svg_listbox_24x24.bmp"
TWSVGImageList16           BITMAP    "..\Resources\Icons\svg_listbox_16x16.bmp"
TWSVGImageList32           BITMAP    "..\Resources\Icons\svg_listbox_32x32.bmp"
TWSVGCheckBoxStyle         BITMAP    "..\Resources\Icons\checkbox_style_24x24.bmp"
TWSVGCheckBoxStyle16       BITMAP    "..\Resources\Icons\checkbox_style_16x16.bmp"
TWSVGCheckBoxStyle32       BITMAP    "..\Resources\Icons\checkbox_style_32x32.bmp"
TWSVGRadioButtonStyle      BITMAP    "..\Resources\Icons\radiobutton_style_24x24.bmp"
TWSVGRadioButtonStyle16    BITMAP    "..\Resources\Icons\radiobutton_style_16x16.bmp"
TWSVGRadioButtonStyle32    BITMAP    "..\Resources\Icons\radiobutton_style_32x32.bmp"

